*.o
*.dep
*.lib
Makefile
*.in
*.deps
*.la
*.libs
*.lo
config.h
*~
*.m4
*.dirstamp
*.class
config_auto.h
MathFinder
*.cache/
*.log
*.status
configure
libtool
stamp-h1
*.pc
ScrollView.jar
select_random
select_training
.cproject
.project
tesseract
tesseract-ocr
ambiguous_words
classifier_tester
cntraining
combine_tessdata
dawg2wordlist
mftraining
shapeclustering
unicharset_extractor
wordlist2dawg
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
MathFinderGtGen
moc_mainWindow.cpp
moc_pageTab.cpp
qrc_icons.cpp
coloredImages/